* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 40rem;
  margin: auto;
}

.intro-chunk {
  max-width: 22rem;
  padding: 2rem 1rem;
}

.title {
  margin-bottom: 3rem;
}

strong {
  color: green;
}

main {
  padding: 3rem 0;
  background-color: darkgray;
  border-top: rgb(118,118,118) 0.5rem solid;
}

.card {
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: rgb(118,118,118) 0.5rem solid;
}

.indented-heading {
  font-size: 120%;
  width: fit-content;
  padding: 1rem 1.5rem;
  margin-left: -1.5rem;
  margin-top: -0.5rem;
  background-color: rgb(255, 190, 0);
  border-bottom: goldenrod 0.5rem solid;
}